.scheduleBlock .userImage {
    display: inline-block;
    float: initial;
    margin: 0 5px;
    width: 100%;
}

.scheduleBlock {
    background-color:white;
    border: 1px solid #E4EAEC;
    height: 320px;
}

.scheduleBlock-title {
    margin-bottom: 20px;
}

.scheduleBlock .list-group .list-group-item {
    padding: 5px 2px;
}

.scheduleBlock button, .scheduleBlock i.moveMe {
    position: absolute;
    bottom: 20px;
    right: 20px;
}
