.userImage {
    cursor: pointer;
    display:inline-block;
    height: 35px;
    margin: 0 0 0 5px;
    padding-right: 5px;
    width: 110px;
}

.userImage img {
    background-color: white;
    height:35px;
    margin-right: 5px;
    width:35px;
}

.userImage span {
    vertical-align:middle;
}

.userImage:hover {
    color: #23B7E5;
}

.outerRemovable {
    display: inline-block;
    margin: 0 0 0 5px;
    position: relative;
    overflow: hidden;
    vertical-align: middle;
    width: 110px;
}

.outerRemovable .userImage {
    margin: 0;
    width:100%;
}

.outerRemovable:hover > .innerRemovable {
    right:0;
}

.innerRemovable {
    background-color: rgba(236, 33, 33,0.7);
    color:white;
    cursor:pointer;
    display: block;
    height: 35px;
    position: absolute;
    right: calc(35px - 100%);
    text-align:center;
    top:0;
    transition: right 0.2s;
    width: calc(100% - 35px);
}

.innerRemovable i.fa {
    margin-top: 10px;
}

.isAdmin {
    border-bottom: 2px solid gold;
}
