.userImage {
    cursor: pointer;
    float: left;
    margin: 5px;
    padding-right: 5px;
}

.userImage:hover {
    color: #23B7E5;
}

.userImage.removable:after {
    content:"\f00d";
    color: #f47f7f;
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    visibility:hidden;
    padding-left: 4px;
    font-size: 12px;
    vertical-align: initial;
}

.userImage.removable:hover:after {
    visibility: visible;
}

.userImage.removable i {
    margin-left: 4px;
    display:none;
}

.userImage img {
    height:35px;
    margin-right: 5px;
    width:35px;
}
