.popconfirm {
    border: 0;
    box-shadow: 0px 0px 25px #000;
    padding: 0;
    text-align: center;
    width: 220px;
}

.popconfirm .popover-title {
    background-color: #F47F7F;
    border: 1px solid #F47F7F;
    border-radius: 0;
    border-top-right-radius: 2px;
    border-top-left-radius: 2px;
    color: #FFF;
    font-size:16px;
    line-height: 24px;
    height: 40px;
}

.popconfirm .btn {
    width: 90px;
}

.popconfirm .btn + .btn {
    margin-left: 10px;
}
