.popconfirm {
    padding: 0;
    text-align: center;
    width: 200px;
}

.popconfirm .popover-title {
    background-color: #F47F7F;
    border-radius: 0;
    border-top-right-radius: 2px;
    border-top-left-radius: 2px;
    color: #FFF;
}

.popconfirm .btn {
    width: 80px;
}

.popconfirm .btn + .btn {
    margin-left: 10px;
}
