.brand img, .image-left {
    margin-right: 5px;
    vertical-align: bottom;
}

.form-control {
    box-shadow: unset!important;
}

.navbar {
    border-radius: 0!important;
}

.nav i.fa {
    margin-right: 5px;
}

.tablerow .panel {
    height: 315px;
}

.panel-heading {
    font-size: 15px!important;
}

.panel-heading i.fa {
    color: #777;
    margin-right: 5px;
}

.content-wrapper {
    padding:0!important;
}

.pageloader {
    color: #607d8b;
    font-size: 100px;
    height: 100%;
    padding-top:300px;
    text-align:center;
    width: 100%;
    vertical-align:middle;
}

.centered-children {
    text-align: center;
}

.gimemargin-vertical > * {
    margin: 5px 0;
}

.team1 {
    background-color: #8BB8F1;
    color:white;
}

.team2 {
    background-color: #F47F7F;
    color:white;
}
