.brand img, .image-left {
    margin-right: 5px;
    vertical-align: bottom;
}

.brand a {
    /*color: yellow!important;*/
}

.form-control {
    box-shadow: unset!important;
}

.navbar-inverse .navbar-nav > li > a > .brand {
    color: #00D8FF!important;
}

.navbar {
    border-radius: 0!important;
}

.nav i.fa {
    margin-right: 5px;
}

.panel-heading {
    font-size: 15px!important;
}

.panel-heading i.fa {
    color: #777;
    margin-right: 5px;
}

.content-wrapper {
    padding:0!important;
}

.red {
    background-color: #f6413a;
}
.pink {
    background-color: #ea1e63;
}
.purple {
    background-color: #9c28b1;
}
.deep-purple {
    background-color: #673bb7;
}
.indigo {
    background-color: #3c52b5;
}
.light-blue {
    background-color: #03a9f5;
}
.cyan {
    background-color: #00bcd5;
}
.teal {
    background-color: #009788;
}
.light-green {
    background-color: #8bc24a;
}
.lime {
    background-color: #cddc39;
}
.light-yellow {
    background-color: #ffeb3c;
}
.orange {
    background-color: #ff9700;
}
.deep-orange {
    background-color: #fe5722;
}
.grey {
    background-color: #9e9e9e;
}
.blue-grey {
    background-color: #607d8b;
}
.brown {
    background-color: #795547;
}
.light-grey {
    background-color: #ececec;
}
