.thewell {
    box-shadow: 0 0 10px #AAA;
    margin-top: 200px;
}

.thewell > h1 {
    margin: 0 0 25px 0;
}


form a {
    margin-left: 10px;
    cursor: pointer;
}

.error-message {
    margin-left:10px;
}
