.select-wrapper .btn-group {
    width: 100%;
}

.select-wrapper .btn-group .btn {
    height: 50px;
    margin: 10px 0;
    text-align: left;
    vertical-align: middle;
    width: 100%;
}

.select-wrapper .btn-group .btn .caret {
    position: absolute;
    top: 25px;
    right:15px;
}

.select-wrapper .hasUserImage {
    padding: 6px 16px 6px 4px;
}

.select-wrapper ul {
    max-height: 400px;
    overflow-x: auto;
}
