.select-wrapper .btn-group {
    width: 100%;
}

.select-wrapper .btn-group .btn {
    height: 50px;
    margin: 10px 0;
    text-align: left;
    vertical-align: middle;
    width: 100%;
}

.select-wrapper .btn-group .btn .caret {
    position: absolute;
    top: 25px;
    right:15px;
}

.select-wrapper .hasUserImage {
    padding: 6px 16px 6px 4px;
}

.select-wrapper ul {
    max-height: 400px;
    overflow-x: auto;
}

.select-wrapper .dropdown-menu {
    width: 100%;
    padding-top:0;
}

.fuckyoudropdown {
    margin: 0!important;
    padding: 0!important;
}

.fuckyoudropdown i {
    border-bottom: 2px solid #CCC;
    color: #CCC;
    cursor: default;
    display: inline-block;
    font-size: 16px;
    height: 50px;
    line-height: 50px;
    margin-bottom: 15px;
    text-align: center;
    vertical-align: middle;
    width: 50px;
}

.fuckyoudropdown .form-group {
    display: inline-block;
    vertical-align: middle;
    width: calc(100% - 50px);
}

.fuckyoudropdown input {
    border-radius: 0;
    border: 0px;
    border-bottom: 2px solid #CCC;
    font-size: 16px;
    height:50px;
    padding: 6px 0;
}
