.alert {
    box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.12), 0px 1px 6px rgba(0, 0, 0, 0.12);
    color:white;
    display:inline-block;
    margin: 20px 0 40px 0;
    width: 100%;
}

.alert div i {
    font-size: 50px;
}

.alert .text-container {
    margin-left: 65px;
    text-align: center;
}

.alert .text-container div {
    font-size:24px;
    font-weight: bold;
}
