.datepicker-wrapper input {
    cursor: pointer;
}

.date-picker {
    height: 250px;
    width: 250px;
    position: absolute;
    z-index: 1;
    box-shadow: 0 0 10px #CCC;
    top: 60px;
    left: 15px;
}

.date-picker .dp-cell {
    border: none;
}

.date-picker .dp-cell.dp-value {
    background: #00aac0;
    color:white;
}
