.datepicker-wrapper input {
    cursor: pointer;
}

.date-picker {
    height: 250px;
    left: 15px;
    position: absolute;
    top: 60px;
    width: 250px;
    z-index: 2;
}

.date-picker .dp-cell {
    border: none;
}

.date-picker .dp-cell.dp-value {
    background: #00aac0;
    color:white;
}

.modal-overlay {
    background: rgba(0,0,0,0.5);
    display: inline-block;
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}
