.scheduleTable td button {
    float: right;
    margin-top: 1px;
}

.scheduleTable td i {
    display: inline-block;
    margin-top: 7px!important;
}

.scheduleTable {
    table-layout: fixed;
}

.scheduleTable thead tr th:first-child {
    width:70;
}
