.scheduleTable button {
    float: right;
    min-width: 0;
    /*margin: 1px;*/
}

.scheduleTable td i {
    display: inline-block;
    margin-top: 8px;
}

.scheduleTable {
    table-layout: fixed;
}

.scheduleTable thead tr th:first-child {
    width:70;
}

.scheduleTable .scheduleItem {
    height: 100%;
    width: 100%;
    display: inline-block;
}
