.panel-body {
    padding: 0;
    max-height:initial!important;
}

.panel-body .table {
    margin: 0;
}

td, th {
    font-size: 0.9em;
    text-align: center;
    vertical-align: middle!important;
}
